div {
    width: 70%;
    border: 2px solid #bbb;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    input {
        height: 30px;
        border-radius: 5px;
    }

    button {
        border: 2px solid green;
        border-radius: 5px;
        background: green;
        color: #fff;
        padding: 6px 15px;
        font-size: 18px;
        width: 200px;
    }
}
